@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-ubuntu);
  --font-mono: var(--font-0xproto);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0); /* white */
  --foreground: oklch(0.145 0 0); /* neutral-950 */
  --card: oklch(1 0 0); /* white */
  --card-foreground: oklch(0.145 0 0); /* neutral-950 */
  --popover: oklch(1 0 0); /* white */
  --popover-foreground: oklch(0.145 0 0); /* neutral-950 */
  --primary: oklch(0.205 0 0); /* neutral-900 */
  --primary-foreground: oklch(0.985 0 0); /* neutral-50 */
  --secondary: oklch(0.97 0 0); /* neutral-100 */
  --secondary-foreground: oklch(0.205 0 0); /* neutral-900 */
  --muted: oklch(0.97 0 0); /* neutral-100 */
  --muted-foreground: oklch(0.556 0 0); /* neutral-500 */
  --accent: oklch(0.97 0 0); /* neutral-100 */
  --accent-foreground: oklch(0.205 0 0); /* neutral-900 */
  --destructive: oklch(0.577 0.245 27.325); /* red-600 */
  --border: oklch(0.922 0 0); /* neutral-200 */
  --input: oklch(0.922 0 0); /* neutral-200 */
  --ring: oklch(0.708 0 0); /* neutral-400 */
  --chart-1: oklch(0.646 0.222 41.116); /* orange-600 */
  --chart-2: oklch(0.6 0.118 184.704); /* teal-600 */
  --chart-3: oklch(0.398 0.07 227.392); /* emerald-900 */
  --chart-4: oklch(0.828 0.189 84.429); /* yellow-500 */
  --chart-5: oklch(0.769 0.188 70.08); /* amber-500 */
  --sidebar: oklch(0.985 0 0); /* neutral-50 */
  --sidebar-foreground: oklch(0.145 0 0); /* neutral-950 */
  --sidebar-primary: oklch(0.205 0 0); /* neutral-900 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* neutral-50 */
  --sidebar-accent: oklch(0.97 0 0); /* neutral-100 */
  --sidebar-accent-foreground: oklch(0.205 0 0); /* neutral-900 */
  --sidebar-border: oklch(0.922 0 0); /* neutral-200 */
  --sidebar-ring: oklch(0.708 0 0); /* neutral-400 */
}

.dark {
  --background: oklch(0.145 0 0); /* neutral-950 */
  --foreground: oklch(0.985 0 0); /* neutral-50 */
  --card: oklch(0.205 0 0); /* neutral-900 */
  --card-foreground: oklch(0.985 0 0); /* neutral-50 */
  --popover: oklch(0.205 0 0); /* neutral-900 */
  --popover-foreground: oklch(0.985 0 0); /* neutral-50 */
  --primary: oklch(0.922 0 0); /* neutral-200 */
  --primary-foreground: oklch(0.205 0 0); /* neutral-900 */
  --secondary: oklch(0.269 0 0); /* neutral-800 */
  --secondary-foreground: oklch(0.985 0 0); /* neutral-50 */
  --muted: oklch(0.269 0 0); /* neutral-800 */
  --muted-foreground: oklch(0.708 0 0); /* neutral-400 */
  --accent: oklch(0.269 0 0); /* neutral-800 */
  --accent-foreground: oklch(0.985 0 0); /* neutral-50 */
  --destructive: oklch(0.704 0.191 22.216); /* red-400 */
  --border: oklch(1 0 0 / 10%); /* white/10 */
  --input: oklch(1 0 0 / 15%); /* white/15 */
  --ring: oklch(0.556 0 0); /* neutral-500 */
  --chart-1: oklch(0.488 0.243 264.376); /* blue-700 */
  --chart-2: oklch(0.696 0.17 162.48); /* emerald-500 */
  --chart-3: oklch(0.769 0.188 70.08); /* amber-500 */
  --chart-4: oklch(0.627 0.265 303.9); /* purple-500 */
  --chart-5: oklch(0.645 0.246 16.439); /* red-500 */
  --sidebar: oklch(0.205 0 0); /* neutral-900 */
  --sidebar-foreground: oklch(0.985 0 0); /* neutral-50 */
  --sidebar-primary: oklch(0.488 0.243 264.376); /* blue-700 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* neutral-50 */
  --sidebar-accent: oklch(0.269 0 0); /* neutral-800 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* neutral-50 */
  --sidebar-border: oklch(1 0 0 / 10%); /* white/10 */
  --sidebar-ring: oklch(0.556 0 0); /* neutral-500 */
}

@layer utilities {
  /* explicit classnames for font families specified in @/lib/fonts.ts */
  .font-geist {
    font-family: var(--font-geist);
  }
  .font-ubuntu {
    font-family: var(--font-ubuntu);
  }
  .font-ubuntu-mono {
    font-family: var(--font-ubuntu-mono);
  }
  .font-space-grotesk {
    font-family: var(--font-space-grotesk);
  }
  .font-zx-proto {
    font-family: var(--font-0xproto);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bg-glass {
    @apply bg-black/20 text-white backdrop-blur-md backdrop-filter hover:bg-black/15;
  }
}

.container {
  @apply mx-auto w-full px-4;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/* mesh-gradient generated with https://csshero.org/mesher/ */
.bg-mesh-gradient-eldritch {
  background-color: hsla(234, 25%, 17%, 1);
  background-image: radial-gradient(
      at 30% 38%,
      hsla(189, 96%, 49%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 13% 72%, hsla(151, 89%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 92%, hsla(35, 88%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 77% 12%, hsla(325, 84%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 21%, hsla(254, 79%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 63%, hsla(355, 82%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 69% 69%, hsla(65, 95%, 73%, 1) 0px, transparent 50%);
}

.bg-mesh-gradient-dracula-pro {
  background-color: hsla(245, 14%, 15%, 1);
  background-image: radial-gradient(
      at 30% 38%,
      hsla(170, 100%, 75%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 13% 72%, hsla(115, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 27% 92%, hsla(34, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 77% 12%, hsla(330, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 21%, hsla(249, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 63%, hsla(9, 100%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 69% 69%, hsla(60, 100%, 75%, 1) 0px, transparent 50%);
}
